<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
			  <h1><i class="glyphicon glyphicon-repeat"></i> Cron Runner<small><br />Pings a url with a set interval</small></h1>
			</div>
		</div>
		<div class="col-xs-12" *ngIf="finished">
			<div class="alert alert-warning" role="alert">Cron has stopped!</div>
		</div>
		
		<div class="col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon2">URL</span>
			  <input type="text" [(ngModel)]="url" name="url" id="url" class="form-control" placeholder="Paste URL here..." aria-describedby="sizing-addon2">
			</div>
		</div>
		<div class="col-xs-12"><hr></div>
		<div class="col-xs-12">
			<form>
				<div class="input-group">
				  <span class="input-group-addon" id="sizing-addon2">Valid Response String</span>
				  <input type="text" [(ngModel)]="responseString" name="responseString" id="responseString"  class="form-control" placeholder="Paste string here..." aria-describedby="sizing-addon2">
				</div> 
				 <hr>
				<div class="input-group seconds-group">
				  <input type="text" class="form-control" name="seconds" id="seconds" placeholder="sec" type="text" [(ngModel)]="seconds">
				</div>
				<button type="button" [disabled]="seconds == '' || url == '' || responseString == ''"  class="btn btn-primary" (click)="toggleInterval()">{{startStop}}</button>
				<button type="button" class="btn btn-info" (click)="output = []; finished = false">Clear</button>
			</form>
		</div>
		<div class="col-xs-12"><hr></div>
		<div class="col-xs-12">
			Response count: {{output.length}}
			<ul *ngIf="output.length > 0">
				<li *ngFor="let item of output">{{item}}</li>
			</ul>
		</div>
	</div>
</div>
